.home--section{
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.medals--row {
  display: flex;
  gap: 8px;
  justify-content: center;
  width: 100%;
}

.chart--section{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
}
